 <!-- TOP LINE -->
 <div class="row">
  <div class="col-12">
    <img src="../../../../assets/landing-page-icons/bescom-1572898662.jpg" alt="Bootstrap" width="80" height="50">
    <span class="heading" > Banglore Electricity Supply Company Limited </span>
    <span class="after">BESCOM</span>
    <form class="d-flex " style="float: right;  padding-top: 0.8rem;"  role="search">
      <button class="btn btn-outline-success" type="submit" >LOGIN</button>
    </form>
  </div>
</div>



<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav" style="padding:1rem 4rem;">
        <a class="nav-link  font-small"  aria-current="page" href="#" style="color: #fff; ;" >Home</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Apply Online</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Track Online</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Other Information</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Home rules& regulation</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Privacy Policy</a>
        <a class="nav-link" href="#" style="color: #fff; ;">FAQ</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Conatct Us</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Associated Sites</a>
        <a class="nav-link" href="#" style="color: #fff; ;">Sitemap</a>


      </div>
    </div>
  </div>
</nav>
