<section>
  <div class="bg-aqua container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <form>
          <h2 class="title pb-3">Registration</h2>

          <h2>*For Mandatory</h2>
          <p>
            Registering allows customers to view current account information,
            billing, payment and usage history.
          </p>

          <!-- Email input -->
          <div class="form-outline mb-1">
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="User ID*"
              required
            />
          </div>
          <h3 class="error-msg">
            How to find out Account ID?
            <a href="#">Please Click here.</a>
          </h3>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter image Captcha here*"
            />
          </div>
          <div class="btn-box">
            <button
              type="button"
              class="btn"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Continue
            </button>
            <button
              type="button"
              class="btn btn-lg clor"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              routerLink="/"
            >
              Back
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 img-box">
        <img
          src="../../../../assets/landing-page-icons/mask image.png"
          class="img-fluid"
          alt="login-image"
        />
      </div>
    </div>
  </div>
</section>
