<div class="container-fluid mid-box">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/electricity2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/electricity7.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/electricity8.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <div class="container text-center" style="padding: 0 2rem 2rem 2rem ;    margin-top: 3rem;">
    <!-- <div class="row row2">
      <div class="col-sm-12 head">
        <span class="left" style="float: left">Apply Online</span>
        <span class="left">Janasnehi Vidyuth Sevegalu</span>
      </div>
    </div> -->

    <div class="row row2">
      <div class="col-6"><span class="left" style="float: left">Apply Online</span></div>
      <div class="col-6"><span class="left">Janasnehi Vidyuth Sevegalu</span></div>
    </div>




    <div class="row row1">
      <div class="col-sm bdr">
        <button class="icon-box-1">
          <img src="../../../../assets/landing-page-icons/Group 105.png" />
          <p>Pay Bill</p>
        </button>
        <button class="icon-box-2">
          <img src="../../../../assets/landing-page-icons/ICON 20.png" />
          <p>New Connection</p>
        </button>
        <button class="icon-box-3">
          <img src="../../../../assets/landing-page-icons/Group 108.png" />
          <p>Track New Connection</p>
        </button>
      </div>
      <div class="col-sm">
        <button class="icon-box-1">
          <img src="../../../../../assets/landing-page-icons/ICON 20.png" />
          <p>New Connection</p>
        </button>
        <button class="icon-box-2">
          <img src="../../../../../assets/landing-page-icons/Group 115.png" />
          <p>Tapping Connection</p>
        </button>
        <button class="icon-box-3">
          <img src="../../../../assets/landing-page-icons/Group 108.png" />
          <p>Track New Connection</p>
        </button>
      </div>
    </div>
  </div>
  <div class="container pf1 text-center">
    <h1 class="info">Other Information</h1>
  </div>

  <div class="container-fkuid text-center" style="padding: 0 3rem 3rem 3rem">
    <div class="row row-cols-5">
      <div class="col box text-white">
        <img src="../../../../../assets/landing-page-icons/svg/mis.svg" /><a
          href="#"
        >
          MIS Reports
        </a>
      </div>
      <div class="col box text-white">
        <img src="../../../../../assets/landing-page-icons/svg/rapdrp-sub.svg" />
        <a href="#"> RAPDRP </a>
      </div>
      <div class="col box text-white">
        <img src="../../../../../assets/landing-page-icons/svg/rapdrp.svg" />
        <a href="#"> RAPDRP Towns </a>
      </div>
      <div class="col box text-white">
        <img src="../../../../../assets/landing-page-icons/svg/emergency.svg" />
        <a href="#"> Emergency Contact </a>
      </div>
      <div class="col box text-white">
        <img src="../../../../../assets/landing-page-icons/svg/emg-contact.svg" />
        <a href="#"> Emergency Contact Tracker </a>
      </div>
    </div>
  </div>
